h1 {
  background-color: gold;
}
h2 {
  background-color: gold;
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
}
h5 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
tr {
  color: white;
}
button {
  background-color: gold;
  margin: 4px 2px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
}
div{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 274px;
    border: 1px solid black;
}